@model IEnumerable<ProiectPAW.Models.ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.productID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.imageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
