@model ProiectPAW.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.textContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.textContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfStars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfStars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.productID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.reviewID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
