@model ProiectPAW.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfPlacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfPlacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mesaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mesaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.orderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
